@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url("https://fonts.googleapis.com/css?family=Catamaran");
@import url("https://fonts.googleapis.com/css?family=Jost");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  max-width: 50%;
  margin: 0 auto;
}
body p,
a {
  font-family: "Jost", sans-serif;
  font-size: 1.2em;
}
.fontPT {
  font-family: "Libre Baskerville", serif;
}
.fontCat {
  font-family: "Jost", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
h1 {
  font-size: 3em;
}
header {
  display: block;
  text-align: center;
  margin: 2rem;
}
header p {
  margin-top: 1rem;
}
section {
  display: block;
  margin: 2rem;
}
section h3 {
  margin-bottom: 1rem;
}
article {
  display: block;
  margin: 3rem 0;
}
article h2 {
  display: block;
  margin-bottom: 1rem;
}
.center {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.footer a {
  text-decoration: underline;
}
.warning {
  padding: 2rem;
  background-color: #f86d6d;
  box-shadow: 0px 0px 7px 2px rgba(70, 63, 63, 0.1);
}
.alert {
  padding: 2rem;
  background-color: #ffce92;
  box-shadow: 0px 0px 7px 2px rgba(70, 63, 63, 0.1);
}
.datatable {
  background-color: white;
  padding: 1rem 0m;
  box-shadow: 0px 0px 7px 2px rgba(70, 63, 63, 0.1);
  border-radius: 0.3rem;
}
.datatable h3 {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  margin-bottom: 0;
}
.datatable .header {
  background-color: #ffce92;
}

.countrydata {
  overflow: scroll;
  height: 55vh;
}
.countrydata-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  align-items: center;
  border-bottom: 1px solid #eee;
}
/* .countrydata-row:not(:last-child) {
  margin-bottom: 1rem;
} */
.datatable .alphabet {
  background-color: #ffe9cf;
  position: sticky;
  top: 0;
}
.name {
  flex-basis: 33%;
  text-align: left;
}
.countrydata-warning,
.countrydata-alert {
  flex-basis: 33%;
  text-align: left;
}

/* scorytelling from codepen css */
.filler {
  height: 20rem;
  text-align: center;
}
#scrolly-side .scrolly {
  display: flex;
  max-width: 60rem;
  margin: 3rem auto;
  background-color: #f4f4f4;
  padding: 1rem;
}
#scrolly-side .scrolly > * {
  flex: 1;
}
#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 30rem;
}
#scrolly-side .scrolly article .step {
  min-height: 50vh;
  margin-bottom: 1rem;
  background-color: #5b5b5b;
  transition: background-color 5000ms ease-in-out;
}
#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 0;
}
#scrolly-side .scrolly article .step.is-active {
  background-color: #008080;
}
#scrolly-side .scrolly article .step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: #f4f4f4;
}
#scrolly-side .scrolly figure.sticky {
  position: sticky;
  width: 100%;
  height: 50vh;
  background: #969696;
  margin: 0;
  top: 25vh;
  left: 0;
}
#scrolly-side .scrolly figure.sticky .bar-outer {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 90%;
  height: 4rem;
  background-color: #fff;
}
#scrolly-side .scrolly figure.sticky .bar-inner {
  width: 10%;
  height: 100%;
  transition: width 1s ease-in-out;
  background-color: #daa520;
}
